<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citemenu.mystash">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- Lets app receive data messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Google Services requires a Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.citemenu.mystash.permission.C2D_MESSAGE" />
    <!-- <uses-permission android:name="com.citemenu.mystash.gcm.permission.C2D_MESSAGE" /> -->

    <permission
        android:name="com.citemenu.mystash.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <permission
        android:name="com.citemenu.mystash.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.citemenu.mystash.permission.MAPS_RECEIVE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_pages.Login_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="mystash.ca"
                    android:pathPattern=".*"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_pages.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login_pages.ActivityForgotPwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mystash_box.List_MyStash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mystash_box.SearchBusiness_MyStash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mystash_box.ListDetails_MyStash"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".home.mystash_box.ReviewDetailsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Cite_Points"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mycards_box.MyCards"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mycards_box.Add_LoyaltyCard"
            android:screenOrientation="portrait" />
        <activity android:name=".home.mycards_box.DetailsLoyalty" />
        <activity
            android:name=".home.coupons_box.Coupons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.coupons_box.Coupons_Categories_Click"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.coupons_box.CouponsList_Details"
            android:screenOrientation="portrait" />
        <activity android:name=".home.flyers_box.Flyers_Available" />
        <activity android:name=".home.flyers_box.Flyers_pdfview" />
        <activity
            android:name=".helper.SimpleScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mystash_box.RateAndReview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mystash_box.ProgramsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mystash_box.Program_Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mycards_box.TakeLoyaltyBarCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mycards_box.TakeLoyaltyNameDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mycards_box.CreateACard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helper.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.BusinessMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.mycards_box.CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.AddBillDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home.UploadedBillsHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.upload_bill_camera.AddBillsCamera"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".home.upload_bill_camera.TakePhoto"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- START Added for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.citemenu.mystash" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- To get the registration token -->
        <!-- END Added for GCM -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDhhL-HQY7_FyhJTFKHCzHidYPLm_6RhwM" />
    </application>

</manifest>